.headercomponent{
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
}
.bodycomponent{
    width: 100%;
    background-image: url(../Image/background-ban-go-lam-viec_101227484.jpg);
    background: cover !important;
    /* background-repeat: no-repeat; */
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

