*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* start  */
#imgall{
  margin-top: 200px;
  margin-bottom: 50px;
}
#Faceimg{
  display: flex;
  position: relative;
}
#Faceimg img{
  margin-left: 132px;
  border: 1px solid black;
  margin-right: 100px;
  width: 400px;
  height: 500px;
}
#Faceimg #kinh1 img{
  width: 215px;
  height: 50px;
  position: absolute;
  border: none;
  top: 138px;
  left: 93px;
}
#Faceimg1{
  position: relative;
}
#Faceimg1 #dsglass {
  height: 158px;
  width: 397px;
  background-color: rgba(184, 113, 7, 0.5);
  position: absolute;
  left: 133px;
  top: 341px;
  display: none;
}
#ArrayGlasses{
  background-color: rgba(128, 128, 128, 0.5);
}

